.menu {
font-size:20px;
padding: 10px 10px 5px 60px;
font-family: 'Open Sans', sans-serif;
}
.menu .nav a{
	color: #333333;
}
.quangcao{
	  background: url("images/wallpaper.jpg") no-repeat center;
	  width:100%;
	  height:600px;
	 
}
.quangcao .tieude{
	margin: 0px 10% ;
	font-size: 40px;
	width:80%;
	height:200px;
	padding-top:200px;
	padding-left:10%;
	color:white;
	font-family: "Times New Roman", Times, serif;
	text-align: center;

}
.main{
background-color: #FFFFFF;
}
.danhsachtin{
	padding: 30px 0;
	margin-bottom: 16px;
	border-style: groove;
}
.danhsachtin .noidung
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
.tieude{
	font-size: 18px;
	color:#2E8AE1;
}
.bantin{
	padding-top: 50px;
	padding-left: 25px;
    padding-bottom: 20px;

}
.bantin .noidung{
    padding-top: 10px;
}
.phaibantin{
    margin-top: 50px;
    border: 1px solid #ecf0f1;
    border-radius: 4px;
    background-color: #fff;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 20px;
}
.nhan{
    color:#B2B2B2;
    margin-right: 10px;
}
.scrollable-menu {
	height: auto;
	max-height: 200px;
	width:100%;
	overflow-x: hidden;
}
.boloc{
	margin-top: 10px;
	margin-bottom: 10px;
}
.timkiem{
	margin-top: 20px;
	margin-left: 20%;
}
.benphai{
	padding-left: 10px;
}
.bentrai{
	padding-right: 10px;
}
.daugia{
 background-color:#F7F7F7;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.danhsachdaugia{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ecf0f1;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
}